<h1 class="text-center">Blocipedia: Social, Markdown Wikis</h1>

<br/>
  <div class="jumbotron text-center pagination-centered">
    <h3>Create and share Markdown Wikis</h3>
    </br>
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-success text-center' %>
  </div>
</br>
<div class="row">
  <div class="col-md-6 text-center">
    <h4>Create as many public</h4>
    <h4>wikis as you want!</h4>
    <div><%= image_tag("glyphicons-20-heart-empty.png", :alt => "heart") %></div>
    <p>Free Plan</p>
  </div>
  <div class="col-md-6 text-center">
    <h4>Create private wikis!</h4>
    </br>
    <div><%= image_tag("glyphicons-66-tag.png", :alt => "tag") %></div>
    <p>Premium Plan</p>
  </div>
</div>
