<h1 class="text-center">My Wikis</h1>
</br>
<div class="wiki-table">
  <table class="table table-striped">
    <% @wikis.each do |wiki| %>
      <tr>
        <td><%= link_to markdown(wiki.title), wiki %></td>
        <td>
          <% if policy(wiki).edit? %>
            <%= link_to "edit", edit_wiki_path(wiki) %>
          <% end %>
        </td>
        <td>
          <% if policy(wiki).destroy? %>
            <%= link_to "delete", wiki, method: :delete, data: {confirm: 'Are you sure you want to delete this wiki?'} %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
</br>
<div class="text-center">
  <% if user_signed_in? %>
    <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %>
  <% end %>
</div>
